@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap');
* {
  font-family: 'Urbanist', sans-serif;
  /* width: 100% !important; */
  margin: 0px;
}
body {
  margin: 0px;
  font-family: 'Urbanist', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100% !important;
}
h1 {
  font-family: 'Urbanist', sans-serif
}

h2 {
  font-family: 'Urbanist', sans-serif
}

body #fonts {
  font-family: 'Urbanist', sans-serif
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.designPortfolioContainer {
  /* height: 100%; */
  color: #DBC8B6;
  /* margin: 0px 95px; */
  min-width: 300px;
  min-height: 100vh;
  padding: 40px 0px;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  align-content: space-around;
  flex-direction: column;
}

.resumeContainer {
  /* padding: 100px 0px; */
  /* height: 100%; */
  color: #DBC8B6;
  /* background-color: blueviolet; */
  /* margin: 0px 95px; */
  min-width: 300px;
  /* min-height: 100vh; */
}

.designImgContainer {
  min-width: 200px;
  max-width: 365px;
  margin: 10px 20px 10px 20px;
  background-color: rgba(22, 81, 126, 0.3);
  padding: 20px;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {.devProjectsContainer {
  margin: 0;
}}

.workExperience {
  display: flex;
  flex-direction: row;
}

.job {
  display: flex;
  flex-direction: column-reverse;
  flex-basis: 50%;
  flex: 1;
  align-items: flex-start;

}

.dates {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  align-items: flex-end;
}

.bullets {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
}

@media only screen and (max-width: 500px) {.devProjectsContainer {
  width: 80vw;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}}


.devProjectsContainer {
  min-width: 300px;
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 4;
  background-color: #e4dad0;
  width: 40vw;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 20px;
  /* margin: auto; */
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}

.bulletPoint {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* margin: 5px; */
}

.devProjectsBoxes {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  max-width: 1370px;
  align-items: center;
  align-content: center;
  margin-top: 0;
  /* margin: auto; */
}

.imageContainer {
  position: relative;
  max-width: 100%;
  /* max-height: 330px; */
  /* max-width: 400px; */
  align-self: center;
  /* flex-grow: 1; */
  margin: auto;
  /* padding: 10px; */
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(55, 104, 129, 0.8);
  color: #f1f1f1;
  transition: .5s ease;
  font-size: 20px;
  text-align: center;
  padding: 0px;
}

.imageContainer:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(55, 104, 129, 0.8);
  color: #f1f1f1;
  transition: .5s ease;
  font-size: 20px;
  text-align: center;
  padding: 0px;
  width: 100%;
  height: auto;
}

.projectImage {
  display: block;
  width: 100%;
  height: auto;
  align-self: center;
}

.textArea {
  margin: 10px 0px;
  
}

@media only screen and (min-width: 1425px) {.textArea {
  flex-basis: 30%;
}}



.overlay:hover {
  opacity:0;
  background: rgba(55, 104, 129, 0.0);
}
.devButton {
  display: flex;
  flex-shrink: 1;
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #DBC8B6;
  cursor: pointer;
  display: inline-block;
  font-family: 'Urbanist', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  background: #305E74;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.devButton:hover,
.devButton:active {
  background-color: #DBC8B6;
  background-position: 0 0;
  color: #366981;
}

.devButton:active {
  opacity: .5;
}

.contactButton {
  display: flex;
  flex-shrink: 1;
  border: 1px solid white;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #DBC8B6;
  cursor: pointer;
  display: inline-block;
  font-family: 'Urbanist', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  background: #305E74;
  font-size: 20px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

.contactButton:hover,
.contactButton:active {
  background-color: #DBC8B6;
  background-position: 0 0;
  color: #366981;
}

.contactButton:active {
  opacity: .5;
}

.navigation {
  position: sticky;
  z-index:100;
  top:0;
  background-color:rgb(43, 153, 226);
  /* width:100%; */
  margin: 0;
}

.footer {
  background-color: #305E74;
  color: white;
  bottom: 0;
  padding: 30px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index:100;
}


.homepage {
  /* background-image: url('https://images.pexels.com/photos/1367179/pexels-photo-1367179.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260'); */
  /* width: 100%; */
  margin-top: -20px;
  margin-bottom: -60px;
  padding-bottom: 40px;
  background-color: #305E74;
}

.homeHeader {
  /* height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px 95px;
  font-family: 'Urbanist', sans-serif;
  max-width: 1370px;
  margin: auto;
  color: #DBC8B6;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/dkkwdvec2/image/upload/v1649778612/Triangle_Accents_dxoaun.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.headerDesc {
  display: block;
  text-align: left;
}

.devProjects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #DBC8B6;
  padding: 20px 95px;
}

.resume {
  height: 100vh;
  color: #DBC8B6;
  /* margin: 95px 0px; */
  min-height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.jobDots {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #DBC8B6;
  margin-right: 10px;
}
.act, .jobDots:hover {
  background-color: #ADC161;
  cursor: pointer;
  width: 18px;
  height: 18px;
}


.jobDotsBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 60em;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%
}
.jobsSlider {
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  align-items: flex-start;
  /* min-height: 200px; */
  animation-duration: .75s;
  animation-name: slidein;
  margin-left: 20%;
  margin-right: 20%
  /* width: 80%; */
}

@keyframes slidein {
  from {
    /* margin-left: 90%;
    width: 80%; */
    transform: translateX(100%);
    opacity: 0.25;
  }

  to {
    /* margin-left: 90%;
    width: 100%; */
    transform: translateX(0%);
    opacity: 1;
  }
}
.jobBullets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
